# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = dingdian.settings

[deploy:127]
url = http://localhost:6800/addversion.json

project = dingdian

[deploy:1]
url = http://192.168.99.1:6800/addversion.json
project = dingdian
